#MenuBar{
	text-align: center;
	display: inline-block;
	width: 100%;
}

.socials{
	margin-right: 25px;
	margin-left: 25px;
	color: Black;
	text-decoration: underline;
}

.whiteOverlay:hover{
	opacity: .5;

}


/*images*/
.left{
	float: left;
	margin-left: 70px;
}

.right{
	float: right;
	margin-right: 70px;
}

/*positioning of all the images*/

#Fade{ 
   
}

#GE{
	width: 349px;
	margin-top: 250px;

}

#Patron{

}

#ArtofHealthyHair{

}

#Nexxus{

}

#CoverGirl{

}

#PRTR{

}

#Pantnene{

}

#LG{

}

#TumsProduct{

}

#StIves{
	
}


