/*MenuPage*/
body{

	background-color: yellow;
	color: red;
}

ul
{
    list-style-type: none;
    text-align: center;

}

li{
	text-transform: uppercase;
	text-decoration: none;
}


a{
	text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: white;
}
.Main ul{
	margin-top: 400px;
}

.Main li{
	font-size: 90px;
}

ul.sub{
	float: right;
	display: none;
}
