/*Landing Page*/
@font-face {
    font-family: 'brandon_grotesque_regularRg';
    src: url('brandon_reg-webfont.eot');
    src: url('brandon_reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('brandon_reg-webfont.woff2') format('woff2'),
         url('brandon_reg-webfont.woff') format('woff'),
         url('brandon_reg-webfont.ttf') format('truetype'),
         url('brandon_reg-webfont.svg#brandon_grotesque_regularRg') format('svg');
    font-weight: normal;
    font-style: normal;
    letter-spacing: px;
	-webkit-font-feature-settings: "kern";
  	-moz-font-feature-settings: "kern";
  	-moz-font-feature-settings: "kern=1";

}
@font-face {
	font-family: 'ModernMT-Extended';
	src:url('../styles/ModernMT-Extended.ttf') format('truetype');
}
@import url("//hello.myfonts.net/count/2e1b5b");

@font-face {
	font-family: 'NarzissMedium-Drops';
	src: url('2E1B5B_0_0.eot');
	src: url('2E1B5B_0_0.eot?#iefix') format('embedded-opentype'),
	url('2E1B5B_0_0.woff2') format('woff2'),
	url('2E1B5B_0_0.woff') format('woff'),
	url('2E1B5B_0_0.ttf') format('truetype');
}
html { height: 100%; }

body{
	margin: 0px;
	border: black 10px solid;
	font-family: 'brandon_grotesque_regularRg', Arial, sans-serif;
	line-height: normal;
}


a{
	text-decoration: none;
	color: black;
}

#topMenu{
	right: 20px;
	position: fixed;
	letter-spacing: 4px;
	z-index: 24;
	-webkit-font-feature-settings: "kern";
  	-moz-font-feature-settings: "kern";
  	-moz-font-feature-settings: "kern=1";
	
}


.center{
	text-align: center;
	margin: 0 auto;
}

.rightNoMargin{
	float: right;	
}
.ml0{
	margin-left: 0;
}

.mr0{
	margin-right: 0;
}

.bottom{
	bottom: 30px;
}

.hide{
	display: none;
}

.m0a{
	margin: 0 auto;
}
.m10a{
	margin: 10 auto;
}
.h100{
	height: 100%;
}

.w100{
	width: 100%;
}
.w85{
	width: 85%;
}

.w50{
	width: 50%;
}
.w49{
	width: 49%;
}

.w40{
	width: 40%;
}
.mb200{
 	margin-bottom: 200px;
}

.mb100{
 	margin-bottom: 100px;
}

.pb30{
	padding-bottom: 30px;
}

.FloatL{
	float: left; 
}

.FloatR{
	float: right; 
}

.tAc{
	text-align: center;
}

.iLb{
	display: inline-block;
}

.m3{
	margin-top: 3px;
}

.h90{
	height: 90%;
}
.h850p{
	height: 850px;
}


.vA{
	vertical-align: center;
	height: 100%;
}

.h75{
	height: 60%
}

.pl20p{
	padding-left: 19%;
}

.pR100px{
	padding-right: 75px;
}

.w450{
	width: 450px;
}

.absolute{
	position: absolute;
}
.relative{
	position: relative;
}

.mnh100{
	min-height: 100px;

}

.mt100px{
	margin-top: 100px;
}

.mt200px{
	margin-top: 200px;
}
.h700{
	height: 700px;
}

.h800{
	height: 800px;
}

.w89{
	width: 89%;
}

.mT20{
	margin-top: 20%;
}

.mt50p{
	margin-top: 50%;
}

.b30{

	bottom: 30;
	text-align: center;
	margin: 0 auto;
	margin-top: 100px;
}

.w500{
	width: 500px;
}

.useModern{
	font-family: 'ModernMT-Extended';
}






/*Setting Height of white space sections*/
.mH200{
	min-height:200px !important;
}

.mT200px{
	margin-top: 200px;
}

/*images for home page*/
/*positioning of all the images*/
#headerImage{
	text-align: center;
	z-index: 7;
	top: 50px;
	position: absolute;
}

.Fade{ 
	position:relative;
	top:290px;
	width: 840px;
   
}

.GE{
	position: relative;
	width: 349px;
	margin-right: 153px;


}
#PanteneBodyBack{
	background-image: url('../assets/Pantene/oil.png');
/*	background-repeat: no-repeat;*/
/*	background-attachment: fixed;*/
	background-size: 100%;

}

/*.KALEIDOSCOPE{


}*/


.ArtofHealthyHair{
	width: 700px;
	margin-top: -630px;

}

.Nexxus{

	z-index: 2;
	height: 640px;
	margin-top: -118px

}

.CoverGirl{
	height: 450px;
	margin-right: 110px;
	margin-top: -304px;

}

#PRTR{
	margin-top: -400px;
}

.Pantnene{
	width: 600px;
	margin-top: -466px;

}

.LG{

	width: 676px;
/*	margin-top: 100px;*/
}

.TumsProduct{
    margin-top: -992px;
	width: 600px;

}

.StIves{
	margin-top: -390px;
	
}

p{
	text-align: center;
	margin: 0 auto;
}

.tAr{
	text-align: right;
}


/*Art of healthy hair*/

#AOHHHeader{
	width: 100%;
}

img#AOHH_Section1 {
  width: 100%
}

video {
  width: 100%    !important;

}


/*AboutMe Page*/


#aboutMeImage{
	background-image: url('../assets/AboutMe/AboutMe.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
}

.divSpace{
	height:60px;
}


/*CoverGirl*/

#CG_Section1{
	width: 1000px;
}

.cg_h0{
	width: 710px;
}

/*LG*/


#LG_Twitter{
	width: 60%;
	margin-top: 150px;
}

.middleText{
  position: relative;
  margin-top: 90px;

}

/*Hover changing Images*/

.no-hover {
  display: block;
}
.on-hover {
  display: none;
}
.card:hover > .on-hover {
  display: block;
}
.card:hover > .no-hover {
  display: none;
}
.no-hover {
	overflow: visible;
}
.on-hover {
	overflow: visible;
}

.clear{
	clear: both;
}


#socialRTR{
	background-image: url('../assets/RTR/SocialBackground.png');
	background-size: cover;
	width: 100%;
    height: 348px;
}

.socialButtons{
	height: 42%;
	margin-top: 95px;

}



.index{
	z-index: 7;

}

[data-carousel-3d]{
	border:none;
	background:none;
}

/*RTR*/
#compRTR{
	width: 75%;
}

#dry{
	height: 825px;
	margin-left: 22%;
}

/*GE*/
.overSationary{
	margin-top: 75px;
	z-index: 3;

}

.addStat{
	margin-top: 190px;
}
#triangleBackground{
	background-image: url("../assets/GE_BlueTriangle1Background.png");
	background-size: cover;
	width: 100%;
}

#triangleBackground2{
	background-image: url("../assets/GE_background.png");
	background-size: 100%;
}


/*AOHH*/
#Collage{
	height: 700px;
}

#letsChat{
	font-family: 'NarzissMedium-Drops', Arial, sans-serif;
	margin-left: 188px;
	margin-top: 200px;
	text-transform: uppercase;
	font-size: 100px;
}
#wowslider-container1.ws_gestures{
	font-size: 14px !important;
}



/*Laptop Screens*/
@media (min-width: 1100px) and (max-width: 1300px){ 

/*HOME*/
#headerImage{
	width: 98%;

}
.right{
	float: right;
}

.left{
	float: left;
}

.GE{
 width: 300px;
}

.KALEIDOSCOPE {
	width: 500px;

}

.ArtofHealthyHair{
	width: 618px;
}

.Nexxus{
	height: 636px;
    margin-top: -100px;

}

.CoverGirl{
	height: 433px;
    margin-top: -296px;

}

a.consocials {
    padding: 25px;
}





}

@media (min-width: 1301px) and (max-width: 1700px){ 

.MenuBar{
	text-align: center;
	margin: 17px auto;
	text-decoration: none;
	letter-spacing: 2px;
	-webkit-font-feature-settings: "kern";
  	-moz-font-feature-settings: "kern";
  	-moz-font-feature-settings: "kern=1";
}
#MenuBar2{
	margin-left: 117px;
	width: 100%;
	margin-top: 160px;
	letter-spacing: 2px;
	-webkit-font-feature-settings: "kern";
  	-moz-font-feature-settings: "kern";
  	-moz-font-feature-settings: "kern=1";

}

.homeSocialLinks{
	margin:0 auto;
	width: 80%;
	letter-spacing: 2px;
	-webkit-font-feature-settings: "kern";
  	-moz-font-feature-settings: "kern";
  	-moz-font-feature-settings: "kern=1";

}

.consocials{
	bottom: 240;
	margin-left: 70px;
	margin-right: 70px;
	width: 80%;
	text-decoration: none;
}

.consocials:hover{
	border-bottom:solid black 2px;
	padding-bottom: 20px;
	text-decoration: none;
	color: black;	
}

.socials{
	margin-right: 20px;
	margin-left: 20px;
	color: black;
	text-decoration: none;
	text-transform: uppercase;
}
.socials:hover{
	border-bottom:solid black 2px;
	padding-bottom: 15px;
	text-decoration: none;
	color: black;

}

.socials:active{
	text-decoration: none;
	color: black;
}
.left{
	float: left;
	margin-left: 70px;
}

.right{
	float: right;
	margin-right: 70px;
}

#Clip09_IG {
    width: 500px !important;
    height: 500px;
    padding-bottom: 20px;
    float: right !important;
    padding-left: 30px;
}

#Clip13_IG {
    margin-top: 100px;
    width: 400px !important;
    height: 400px;
    margin-left: 10%;

}

.Pantimg{
	height: 400px;
	width: 100%;

}
#Clip05_FB{
	height: 400px;
	width: 400px;

}
#Clip22_IG {
    float: right !important;
    margin-right: 50px;
    width: 400px !important;
}

#Clip17_FB{
	width: 50% !important;
}

#PantIMG09{
	height: 376px;
	margin-left: 10%;
}
.h750px{
	height: 750px;
}



}

Large desktop screens

@media (min-width: 1701px){

.left{
	float: left;
	margin-left: 370px;
}

.right{
	float: right;
	margin-right: 370px;
}

#headerImage{
	width: 80%;
}
.Fade {
    position: relative;
    top: 436px;
	width: 1068px;
    margin-bottom: 100px;
}
.CoverGirl {
    height: 519px;
    margin-right: 626;
    margin-top: -304px;
}

.Nexxus {
    z-index: 2;
    height: 881px;
    margin-top: -118px;

}

.GE{
	width: 401px;
	margin-right: 545px;
	margin-top: -55px;
}

.KALEIDOSCOPE {
    height: 687px;
    margin-left: 300px;
    margin-top: 50px;
}
.ArtofHealthyHair {
    width: 801px;
    margin-top: -602px;
    margin-right: 300px !important;
}
.Nexxus{
	height: 900px;
}

.CoverGirl {
    height: 602px;
}

.PRTR{
	height: 700px;
}
.Pantnene {
    width: 704px;
    margin-bottom: 200px;
    margin-top: -546px;
}

.TumsProduct {
    margin-top: -975px;
    width: 746px;
    margin-right: 400px !important;
}

.LG {
    width: 723px;
    padding-top: 108px;
}

.StIves {
    margin-top: -261px;
    width: 550px;
}

.bw750{
	width: 750px;
}

.mb81{
	width: 81%;
}

#LGPrint{
	width: 84%;
}

#LGFB{
	height: 1200px;
}

#Ted_ipad{
	margin-left: 100px !important;
	margin-top: 200px;

}
#aboutMain{
	width: 40%;
	text-align: right;
}

.bw80{
	width: 80% !important;
}
#gepeople{
	width: 720px;
}

#geStripes{
	width: 720px;
}



Menu sections
.MenuBar{
	text-align: center;

	margin:17 auto;
	text-decoration: none;
	letter-spacing: 2px;
	-webkit-font-feature-settings: "kern";
  	-moz-font-feature-settings: "kern";
  	-moz-font-feature-settings: "kern=1";
}
#MenuBar2{
	margin-left: 117px;
	width: 100%;
	margin-top: 160px;
	letter-spacing: 2px;
	-webkit-font-feature-settings: "kern";
  	-moz-font-feature-settings: "kern";
  	-moz-font-feature-settings: "kern=1";

}

.homeSocialLinks{
	margin:0 auto;
	width: 80%;
	letter-spacing: 2px;
	-webkit-font-feature-settings: "kern";
  	-moz-font-feature-settings: "kern";
  	-moz-font-feature-settings: "kern=1";

}

.consocials{
	bottom: 240;
	margin-left: 70px;
	margin-right: 70px;
	width: 80%;
	text-decoration: none;
}

.consocials:hover{
	border-bottom:solid black 2px;
	padding-bottom: 20px;
	text-decoration: none;
	color: black;	
}

.socials{
	margin-right: 20px;
	margin-left: 20px;
	color: black;
	text-decoration: none;
	text-transform: uppercase;
}
.socials:hover{
	border-bottom:solid black 2px;
	padding-bottom: 15px;
	text-decoration: none;
	color: black;

}

.socials:active{
	text-decoration: none;
	color: black;
}
.bigRight{
	float: right;
	margin-right: 100px;
}
.clear{
	clear:both;
}

.ml30pct{
	margin-left: 50%;
}
.nmw40{
	min-width: 50%;
}
.bmb200{
	margin-bottom: 200px;
}

.bmt200px{
	margin-top: 200px;
}

.mt45pct{
	margin-top: 45% !important;
}
#aboutMeImage h1{
		margin-top: -50px;
		font-family: 'NarzissMedium-Drops', Arial, sans-serif;
		text-transform: uppercase;
		font-size: 160px;
		letter-spacing: 15px;
		-webkit-font-feature-settings: "kern";
	  	-moz-font-feature-settings: "kern";
	  	-moz-font-feature-settings: "kern=1";
}
#aboutMain{
	font-size: 18px;
	width: 80%;
	margin-left: 1030px;
	margin-right: 0px;
	font-size: 26px;

}

#nexxusMainBig{
	width: 70%;
}

#BigMagSpreadNexxus{
	width: 60%;
}
.BufferMargin50p{
	margin-right: 50px;
}

#GEstationary{
	width: 1500px;
}

#dry{
	height: 1324px;
}
.bigDayNight{
	width: 700px;
}
.bFloatR{
	float: right;
}
.bFloatL{
	float: left;
}
.Bmt45{
	margin-top: 45px;
}
#blockQuoteBig{
	margin-left: -307px;
	font-size: 29px;
}
.bw100{
	width: 100%;
}
.bh1000{
	height: 1000px;
}
.bw56{
    width: 56%;
}

.bh1200{
	height: 1200px;
}
#sleepygirlFade{
	width:80%;
	/*max-height: 1000px;*/
}
#FadeMood{
	width: 80%;

}
.bh100{
	height: 100%;
}
#wowslider-container1{
	margin-top: 400px!important;

}
#wowslider-container1 div{

	overflow: visible !important;
}
#wowslider-container1 div.ws_images{
	overflow: visible !important;
}


div.ws_cover{
	overflow: visible !important;

}
#FadeCover{
	width: 80%;
}
.bGif{
	width: 1000px;
}
.bGifl{
	float: right;
	width: 1000px;
}

/*pantene */

#Clip09_IG {
    width: 900px !important;
    height: 900px;
    padding-bottom: 20px;
    float: right !important;
    padding-left: 30px;
}

#Clip13_IG {
    margin-top: 100px;
    width: 600px !important;
    height: 600px;
    margin-left: 10%;

}

.Pantimg{
	height: 600px;
	width: 100%;

}
#Clip05_FB{
	height: 600px;
	width: 600px;

}
#Clip22_IG {
    float: right !important;
    margin-right: 200px;
    width: 700px !important;
}

#Clip17_FB{
	width: 50% !important;
}

#PantIMG09{
	height: 610px;
	margin-left: 10%;
}
.h750px{
	height: 1050px;
}
#pantene03{
	height: 600px;
	width: 1000px;
	margin-top: 50px;
}

/*HomePage*/
#headerImage{
	margin-left: 180px;
}

.tAr{
	text-align: right;
}



}


