/*MenuPage*/
@font-face{
	font-family: 'brandon_grotesque_regularRg';
    src: url('brandon_reg-webfont.eot');
    src: url('brandon_reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('brandon_reg-webfont.woff2') format('woff2'),
         url('brandon_reg-webfont.woff') format('woff'),
         url('brandon_reg-webfont.ttf') format('truetype'),
         url('brandon_reg-webfont.svg#brandon_grotesque_regularRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import url("//hello.myfonts.net/count/2e1b5b");

@font-face {
	font-family: 'NarzissMedium-Drops';
	src: url('2E1B5B_0_0.eot');
	src: url('2E1B5B_0_0.eot?#iefix') format('embedded-opentype'),
	url('2E1B5B_0_0.woff2') format('woff2'),
	url('2E1B5B_0_0.woff') format('woff'),
	url('2E1B5B_0_0.ttf') format('truetype');
}
 


body{
	
	background-color: black;
	color: grey;
}
#parent{
	height: 600px;
}

ul
{
    list-style-type: none;
    text-align: center;

}

li{
	text-transform: uppercase;
	text-decoration: none;
}


a{
	color: grey;
	text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: white;
}
.Main{
	width: 75%;
	float: left;
}
.Main ul{
	margin-top: 100px;
	display: inline-block;
	float: right;
	padding-right: 85px;
	letter-spacing: 5px;
	-webkit-font-feature-settings: "kern";
  	-moz-font-feature-settings: "kern";
  	-moz-font-feature-settings: "kern=1";

}

.Main li{
	font-family: 'NarzissMedium-Drops', Arial, sans-serif;
	font-size: 90px;
}
a:active{
	text-decoration: none;
}
a:focus{
	text-decoration: none;
	color: white;
}


ul.sub{
	display: inline-block;
	float: right;
	top: 150px;
	height: 100%;
	margin-top: 50px;
	margin-right: 15px;
	display: none;
	letter-spacing: 3px;
	-webkit-font-feature-settings: "kern";
  	-moz-font-feature-settings: "kern";
  	-moz-font-feature-settings: "kern=1";
}

.sub li{
	font-family: 'brandon_grotesque_regularRg', Arial, sans-serif;
	padding:17px;
}

#showUl:hover{
	text-decoration: none;
	color: white;
}
#showUl{
	text-decoration: none;

}


